/**************Base***************/
body {
  color: var(--main-font-color);
  background-color: var(--main-bg-color-site);
  font-family: var(--main-font);
  overflow-x: hidden;
}

/*------------Resets------------*/
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: white;
}

/**************Components****************/
.button {
  width: 175px;
  height: 45px;
  left: 794px;
  top: 456px;
  background: var(--button-bg-color);
  border-radius: 45px;
  text-align: center;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

/**************loyout***************/
.about-us__title {
  font-weight: 400;
  font-size: 32px;
  line-height: 1, 43;
  margin-bottom: 47px;
}

.about-us__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.43;
  width: 300px;
}

.about-us__text-1 {
  margin-bottom: 20px;
}

.about-us__picture {
  display: none;
}
@media screen and (min-width: 768px) {
  .about-us__picture {
    display: block;
  }
}

.about-us__button {
  margin-top: 40px;
}

.form__name,
.form__email {
  display: block;
  background: #090909;
  width: 296px;
  height: 56px;
  border: 2px solid #823a00;
  border-radius: 35px;
  margin-bottom: 27px;
}
@media screen and (min-width: 780px) {
  .form__name,
  .form__email {
    width: 462px;
  }
}

.form__text {
  width: 296px;
  height: 194px;
  background: #090909;
  border: 2px solid #823a00;
  border-radius: 35px;
  resize: none;
}
@media screen and (min-width: 780px) {
  .form__text {
    width: 462px;
  }
}

.form__name:hover,
.form__email:hover,
.form__text:hover {
  border: 2px solid var(--main-accent-color);
}

.for-you__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 189px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.for-you__link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 183%;
  text-align: center;
  letter-spacing: 0.04em;
  text-align: center;
  color: #f9ae84;
}
@media screen and (min-width: 1200px) {
  .for-you__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 185%;
    letter-spacing: 0.04em;
  }
}

.for-you__address {
  width: 300px;
  font-weight: 500;
  font-size: 15px;
  line-height: 183%;
}
@media screen and (min-width: 768px) {
  .for-you__address {
    width: 384px;
  }
}

.for-you__address:not(:last-child) {
  margin-bottom: 35px;
}

.for-you__link:hover,
.for-you__link:focus {
  color: #6d4ae0;
}

.header {
  background: #000101;
  width: 100%;
  height: 86px;
  border-radius: 0 0 0 1px solid rgb(205, 52, 52);
}

@media screen and (min-width: 1200px) {
  .site-now {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 170px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.site-now__link {
  font-family: "Kameron";
  font-style: normal;
  font-weight: 400;
  visibility: hidden;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}
@media screen and (min-width: 780px) {
  .site-now__link {
    visibility: visible;
  }
}

.logo {
  display: block;
  font-family: "Kaisei HarunoUmi";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 1, 45;
  color: #fffafa;
  margin-top: 0 auto;
}
@media screen and (min-width: 780px) {
  .logo {
    font-size: 64px;
    line-height: 93px;
    margin-bottom: 8px;
  }
}

.hero {
  background-image: url(../images/hero/hero_small@1x.jpg);
  height: 635px;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/hero/hero_small@2x.jpg");
  }
}
@media screen and (min-width: 481px) {
  .hero {
    background-image: url("../images/hero/hero_medium@1x.jpg");
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/hero/hero_medium@2x.jpg");
  }
}
@media screen and (min-width: 769px) {
  .hero {
    background-image: url("../images/hero/hero_large@1x.jpg");
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/hero/hero_large@2x.jpg");
  }
}

.clients__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 780px) {
  .clients__wrapper {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 171px;
  height: 85px;
  left: 209px;
  top: 765px;
  background: rgba(9, 9, 9, 0.9);
  border: 1px solid #823a00;
}

.clients__link:hover,
.clients__link:focus {
  border: 1px solid #6d4ae0;
}

@media screen and (min-width: 780px) {
  .galery__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 42px;
  }
}

.galery__item {
  width: 100%;
}

.galery__picture {
  text-align: center;
  display: inline-block;
}

.galery__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  width: 290px;
  margin-top: 28px;
  margin-bottom: 33px;
}
@media screen and (min-width: 1200px) {
  .galery__text {
    width: 332px;
    margin-top: 28px;
    margin-bottom: 20px;
  }
}

.footer {
  height: 300px;
}

.footer__title {
  display: block;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 45px;
}

.footer-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 94px;
}
@media screen and (min-width: 768px) {
  .footer-socials {
    margin-left: 200px;
    margin-bottom: 0;
  }
}

.footer__icon {
  fill: #ffffff;
}

.footer-socials__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #823a00;
}

.footer-socials__links:hover,
.footer-socials__links:focus {
  background-color: #6d4ae0;
}

@media screen and (min-width: 780px) {
  .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 198px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 780px) {
  .footer-form__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 19px;
  }
}

.footer-form__text {
  width: 241px;
  height: 52px;
  background: rgba(9, 9, 9, 0.94);
  border: 1px solid #823a00;
  margin-bottom: 33px;
}
@media screen and (min-width: 780px) {
  .footer-form__text {
    width: 412px;
    margin-bottom: 0;
  }
}

.footer-form__text:hover,
.footer-form__text:focus {
  border: 1px solid #6d4ae0;
}

::-webkit-input-placeholder {
  padding-left: 25px;
}

::-moz-placeholder {
  padding-left: 25px;
}

:-ms-input-placeholder {
  padding-left: 25px;
}

::-ms-input-placeholder {
  padding-left: 25px;
}

::placeholder {
  padding-left: 25px;
}

.footer-form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 170px;
  height: 49px;
  left: 998px;
  top: 2641px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #823a00;
}

.footer-form__button:hover,
.footer-form__button:focus {
  background-color: #6d4ae0;
}

/**************utils****************/
:root {
  --main-font: "Kaisei HarunoUmi";
  --second-font: "Montserrat";
  --main-bg-color-site: #000101f7;
  --main-font-color: #ffffff;
  --second-text-color: #d6936d;
  --button-bg-color: #823a00;
  --main-accent-color:#6d4ae0;
}/*# sourceMappingURL=main.css.map */