.form__name,
.form__email {
  display: block;
  background: #090909;
  width: 296px;
  height: 56px;
  border: 2px solid #823a00;
  border-radius: 35px;
  margin-bottom: 27px;

  @media screen and (min-width: 780px) {
    width: 462px;
  }
}
.form__text {
  width: 296px;
  height: 194px;
  background: var(--button-bg-color);
  border: 2px solid #823a00;
  border-radius: 35px;
  resize: none;

  @media screen and (min-width: 780px) {
    width: 462px;
  }
}
.form__name:hover,
.form__email:hover,
.form__text:hover {
  border: 2px solid var(--main-accent-color);
}
.for-you__wrapper {
  display: flex;
  flex-direction: column;
  gap: 189px;
  justify-content: center;
}
.for-you__link {
  font-family: "Montserrat";
  font-style: normal;

  font-weight: 500;
  font-size: 15px;
  line-height: 183%;

  text-align: center;
  letter-spacing: 0.04em;
  text-align: center;

  color: #f9ae84;

  @media screen and (min-width: 1200px) {
    font-weight: 500;
    font-size: 16px;
    line-height: 185%;
    letter-spacing: 0.04em;
  }
}
.for-you__address {
  width: 300px;
  font-weight: 500;
  font-size: 15px;
  line-height: 183%;
  @media screen and (min-width: 768px) {
    width: 384px;
  }
}
.for-you__address:not(:last-child) {
  margin-bottom: 35px;
}
.for-you__link:hover,
.for-you__link:focus {
  color: #6d4ae0;
}
