.galery__box {
  @media screen and (min-width: 780px) {
    display: flex;
    display: flex;
    justify-content: center;
    gap: 42px;
  }
}

.galery__item {
  width: 100%;
}

.galery__picture {
  text-align: center;
  display: inline-block;
}

.galery__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  width: 290px;
  margin-top: 28px;
  margin-bottom: 33px;

  @media screen and (min-width: 1200px) {
    width: 332px;
    margin-top: 28px;
    margin-bottom: 20px;
  }
}
