.header {
  background: #000101;
  width: 100%;
  height: 86px;
  border-radius: 0 0 0 1px solid rgb(205, 52, 52);
}

.site-now {
  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 170px;
    justify-content: center;
    align-items: center;
  }
}
.site-now__link {
  font-family: "Kameron";
  font-style: normal;
  font-weight: 400;
  visibility: hidden;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;

  @media screen and (min-width: 780px) {
    visibility: visible;
  }
}
.logo {
  display: block;
  font-family: "Kaisei HarunoUmi";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 1,45;
  color: #fffafa;
  margin-top: 0 auto;

  @media screen and (min-width: 780px) {
    font-size: 64px;
    line-height: 93px;
    margin-bottom: 8px;
  }
}
