.hero{
    background-image: url(../images/hero/hero_small@1x.jpg);
    height: 635px;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;

   
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image:
      url("../images/hero/hero_small@2x.jpg");
  }

  // tablet screen
  @media screen and (min-width: 481px) {
    background-image: 
      url("../images/hero/hero_medium@1x.jpg");

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: 
        url("../images/hero/hero_medium@2x.jpg");
    }
  }

  // desktop screen
  @media screen and (min-width: 769px) {
    background-image: 
      url("../images/hero/hero_large@1x.jpg");

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: 
        url("../images/hero/hero_large@2x.jpg");
    }
  }
}