.hero{
    background-image: url(../../images/hero/Rectangle_large@2x.jpg);
    height: 635px;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;

   
//   @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
//     background-image: linear-gradient(
//         to right,
//         rgba(47, 48, 58, 0.4),
//         rgba(47, 48, 58, 0.4)
//       ),
//       url("../images/hero/Rectangle_small@2x.jpg");
//   }

//   // tablet screen
//   @media screen and (min-width: 481px) {
//     background-image: 
//       url("../images/hero/Rectangle_medium@1x.jpg");

//     @media (min-device-pixel-ratio: 2),
//       (min-resolution: 192dpi),
//       (min-resolution: 2dppx) {
//       background-image: 
//         url("../images/hero/Rectangle_medium@2x.jpg");
//     }
//   }

//   // desktop screen
//   @media screen and (min-width: 769px) {
//     background-image: 
//       url("../images/hero/Rectangle_large@1x.jpg");

//     @media (min-device-pixel-ratio: 2),
//       (min-resolution: 192dpi),
//       (min-resolution: 2dppx) {
//       background-image: 
//         url("../images/hero/Rectangle_large@2x.jpg");
//     }
//   }
}