:root {
  --main-font: "Kaisei HarunoUmi";
  --second-font: "Montserrat";
  --main-bg-color-site: #000101f7;
  --main-font-color: #ffffff;
  --second-text-color: #d6936d;
  --button-bg-color: #823a00;
  --main-accent-color:#6d4ae0;
}
